%h1 Viewing Outside Messenger App

%h4 It looks like you're viewing this list outside of the Messenger app. This experience has been designed to work within the app on iOS or Android.

%h4 Head over to the Messenger app on your mobile device for a better experience.